header {
  height: 100vh;
  position: relative;
  background-image: linear-gradient(to bottom, #000000e7, #00000044), url(../img/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
  min-height: 950px;
}
